{
  "singleQuote": true,
  "parser": "typescript",
  "semi": true,
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "none",
  "arrowParens": "always",
  "orderedImports": true,
  "quoteProps": "consistent",
  "jsxSingleQuote": false,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve"
}