#root {
  margin: 0 auto;
}

.container {
  width: 100% !important;
  max-width: none !important;
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.boad-detail-container {
  .boad-detail-bottom {
    button {
      min-width: 90px;
      padding: 8px;
    }
  }
}